<h1>User info</h1>

<% if @user.errors.any? %>
<div class="error">
  <h6><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h6>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= form_with model:@user, local:true do |f| %>
    <h5>Name</h5>
    <%= f.text_field :name %>
    <h5>Image</h5>
    <%= f.attachment_field :profile_image %>  
    <span>Introduction</span>
    <%= f.text_area :introduction %>
    <p><%= f.submit 'Update User' %></p>
  <% end %>